h1 {
    color: green;
    font-size: 200%;
}

h1 + p {
    font-size: 50%;
}

a:link {
    color: yellow;
}
a:visited{
    color: orange;
    text-decoration: none;
}

body {
    background-color: pink;
  }
  
  @media (min-width: 50em) {
    body {
      background-color: white;
    }
  }